/* display background in black color for navbar when scrolling */
.navbarScroll.navbarDark {
    background-color: black;
}

/* hero image as background */
.backgrImg {
    height:100vh;
    background: url('../images/heroImage1.jpg');
    background-size:cover;
    position:relative;
}
/* text over the hero image styling */
.heroTitle {
    font-size: 4.5rem;
}
.heroDescription {
    font-size: 2rem;
}
.heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* top spacing for more sections styling */
#about, #services, #portfolio, #contact {
    margin-top: 3rem;
    padding-top: 3rem;
}
#contact {
    padding-bottom: 4rem;
}

/* image in "about" section styling */
.imageAboutPage {
    max-width: 82%;
    display: block;
    margin: auto;
}

iframe {
    display: block;
    margin: auto;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* services section styling */

.servicesText.card {
    height: 340px;
    min-width: 300px;
    margin: 15px 10px 15px 10px;
    transition: background-color 1s;
  }

  .portfolioContent.card {
    max-height: 600px;
    min-width: 300px;
    margin: 10px 10px 10px 10px;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.card:hover {
    border: 2px solid #008000;
    background-color: lightcyan;
}

.card .fas.fa-arrow-right {
    position: absolute;
    bottom: -100px;
    left: 45%;
    background-color: #4e9525;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: gold;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.5s ease;
}

.card:hover .fas.fa-arrow-right {
    bottom: 0px;
    opacity: 1;
}

.portfolioContent:hover {
    transform: scale(1.025,1.025);
}

/* contact icons styling */
.contactIcons {
    font-size: 36px;
    cursor: pointer;
}
.fa-envelope:hover, .fa-linkedin:hover, .fa-phone-square:hover {
    color: #008000;
}
.fab, .fas {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

/* dark-mode styling */
.dark-mode {
    background-color: black !important;
    color: white !important;
}

.dark-mode .form-control::placeholder {
    color: white !important;
}

.dark-mode .modal-content {
    background-color: black !important;
    color: white !important;
}

.dark-mode .btn-success {
    background-color: cyan !important;
    color: darkblue !important;
}

.dark-mode .btn-primary {
    background-color: cyan !important;
    color: darkblue !important;
}

.dark-mode .btn-close {
    background-color: cyan !important;
    /* color: transparent !important; */
}

.dark-mode .card {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

}
